<%- source_link = series_source_path(@series, source) if @series %>
<%- source_link ||= source_path(source) %>

<li class="source <%= source.state_classes.join(' ') %>" rel="<%= url_for(source) %>" data-image="<%= source.image_url %>" data-source-id="<%= source.id %>" data-user-id="<%= active_user.id %>">
    <div class="subscription-image">
      <%= link_to(image_tag(source.image_url), source_link) %>
    </div>
    <h3 class="subscription-title">
      <%= link_to source.series_title, series_sources_path(source.series) if source.series%>
      <%= source.created_at unless source.series %>
    </h3>
    <h2 class="source-title">
      <%= link_to source.title, source_link %>
    </h2>
    <span class="timeago" title="<%= source.created_at %>">
      <%= source.created_at.to_s(:long) %>
    </span>
</li>

