.player
  = link_to 'Play', @source.url, :class => 'play'
  .title
    - if @source.subscription
      %b
        = @source.subscription.title
        = "Untitled" if @source.subscription.title.blank?
      %span= @source.title
    - else
      %b= @source.title

%ul.playlist
  = render @sources
