- content_for :page_title do
  = @source.series.title
  = ' | '
  = @source.title

.player{style: "background-image: url('/assets/#{@source.image_url}');"}
  = link_to '', @source.url, :class => 'play'
  .title
    - if @source.series
      %b
        = link_to @source.series.title, series_sources_path(@source.series)
        = "Untitled" if @source.series.title.blank?
      %span= @source.title
    - else
      %b= @source.title

%ul.playlist
  = render @sources
= will_paginate @sources
