.player{style: "background-image: url('/assets/#{@source.image_url}');"}
  = link_to '', @source.url, :class => 'play'
  .title
    - if @source.subscription
      %b
        = link_to @source.subscription.title, subscription_sources_path(@source.subscription)
        = "Untitled" if @source.subscription.title.blank?
      %span= @source.title
    - else
      %b= @source.title

%ul.playlist
  = render @sources
= will_paginate @sources
