.player
  = link_to '', @source.url, :class => 'play'
  .title
    %b
      = @source.subscription.title
      = "Untitled" if @source.subscription.title.blank?
    %span= @source.title

%ul.playlist
  = render @sources
