.hero-unit
  %h1 Start Listening
  %p Sign up. Don't worry, it's easy like Sunday Morning.

  %p
    = link_to "Facebook", omniauth_authorize_path(resource_name, :facebook), :class => "btn btn-primary"
    or
    = link_to "Twitter", omniauth_authorize_path(resource_name, :twitter), :class => "btn btn-info"
    or
    = link_to "Email", "#email", :class => "btn"

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %fieldset
    %legend Just provide your email and a password
    .clearfix
      = f.label :email
      .input
        = f.email_field :email
    .clearfix
      = f.label :password
      .input
        = f.password_field :password
    .clearfix
      = f.label :password_confirmation
      .input
        = f.password_field :password_confirmation
    .input.buttons
      = f.submit "Register", :class => 'primary btn'
      - if devise_mapping.omniauthable?
        - resource_class.omniauth_providers.each do |provider|
          = link_to image_tag("authbuttons/#{provider.to_s}_32.png", :title => "Sign up with #{provider.to_s.titleize}"), omniauth_authorize_path(resource_name, provider)
= render :partial => "devise/shared/links"
