<header class="navigation">
  <div class="menu-wrapper">
    <a href="/" class="logo">
      <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt="">
    </a>
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <%- if current_user %>
          <li class="nav-link"><%= link_to "Listen", root_path %></li>
        <% end %>
        <li class="nav-link"><%= link_to "Recent Audio", recent_sources_path %></li>
        <li class="nav-link"><%= link_to "Browse Categories", categories_path %></li>
        <li class="nav-link"><%= link_to "Get Bookmarklet", '/bookmarklet' %></li>
        <li class="nav-link more"><a href="javascript:void(0)">More</a>
          <ul class="submenu">
            <li><%= link_to "Popular Series", popular_sources_path %></li>
            <li><%= link_to "Sort By Tags", tags_path %></li>
            <li><%= link_to "About", '/welcome' %></li>
          </ul>
        </li>

      </ul>
    </div>
    <div class="navigation-tools">
      <!--
      <div class="search-bar">
        <div class="search-and-submit">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" alt="">
          </button>
        </div>
      </div>
      -->
      <p>
        <% if current_user %>
          <%= link_to 'Sign out', destroy_user_session_path, :class => 'sign-in' %>
          <%= link_to 'Profile', current_user, :class => 'sign-up' %>
        <% else %>
          <%= link_to 'Sign up', new_registration_path(:user), :class => 'sign-up' %>
          <%= link_to 'Sign in', new_user_session_path, :class => 'sign-in' %>
        <% end %>
      </p>
    </div>
  </div>
</header>

<script>
  $(function() {
    var menu = $('#navigation-menu');
    var menuToggle = $('#js-mobile-menu');
    var signUp = $('.sign-up');

    $(menuToggle).on('click', function(e) {
      e.preventDefault();
      menu.slideToggle(function(){
        if(menu.is(':hidden')) {
          menu.removeAttr('style');
        }
      });
    });

    // underline under the active nav item
    $(".nav .nav-link").click(function() {
      $(".nav .nav-link").each(function() {
        $(this).removeClass("active-nav-item");
      });
      $(this).addClass("active-nav-item");
      $(".nav .more").removeClass("active-nav-item");
    });
  });
</script>
