<div class="side-image">
  <div class="images-wrapper" style="background-image: url('<%= @subscription.image_url %>')"></div>
    <div class="content">
      <%- @subscription.tag_list.each do |tag| %>
        <h4><%= link_to tag, tag_path(:id => tag) %></h4>
      <% end %>
      <h1><%= @subscription.title %></h1>
      <p><%= @subscription.description %></p>
      <%= render 'filters' %>
  </div>
</div>

